
@{
    ViewBag.Title = "BaoHanh";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}



<div class="container" id="layout-page-main" style="margin-top: 120px">
    <div class="content-page">
        <p style="text-align: center;">
            <span style="font-size: 20pt; color: #ff0000;">
                Mygear - CHÍNH SÁCH ĐỔI TRẢ
            </span>
        </p>
        <p><span><strong>CHÍNH SÁCH ĐỔI TRẢ CỦA MYGEAR</strong></span></p>
        <p>
            <span>
                <strong>Để đảm bảo sự hài lòng của khách hàng, Mygear hỗ trợ đổi mới hàng hóa trong vòng 7 -30 ngày kể từ ngày giao hàng NẾU máy được xác định là lỗi về phần cứng từ phía nhà sản xuất hoặc lỗi được xác nhận bởi trung tâm bảo hành được ủy quyền chính thức từ hãng.</strong>
            </span>
        </p>
        <p>
            <span>
                <strong>I/ Chính sách trả hàng:</strong>
            </span>
        </p>
        <p>
            <span>
                <strong>1. Trả hàng và hoàn lại tiền 100% theo hoá đơn bán hàng:</strong>
            </span>
        </p>
        <p>
            <span>&nbsp;– Giao hàng không đúng theo đơn đặt hàng của quý khách .</span>
        </p>
        <p>
            <span>&nbsp;– Sản phẩm còn trong thời hạn đổi mới nhưng không còn sản phẩm đổi và khách hàng không muốn đổi sang sản phẩm tương tự.</span>
        </p>
        <p>
            <span><strong>2. Trả hàng hoàn lại tiền nhưng mất phí trong các trường hợp sau:</strong></span>
        </p>
        <p>
            <span>&nbsp;– Phí 5%/ trên hóa đơn sản phẩm trả của Mygear : sản phẩm còn trong thời hạn đổi trả và máy chưa qua sử dụng .</span>
        </p>
        <p>
            <span>&nbsp;– Phí 10%/ trên hóa đơn sản phẩm trả của Mygear: sản phẩm còn trong thời hạn đổi trả và máy đã qua sử dụng.</span>
        </p><p>
            <span>&nbsp;– Phí 15% / trên hóa đơn sản phẩm trả của Mygear ( từ ngày thứ 13 đến ngày thứ 20 ) . Bao gồm cả máy chưa qua sử dụng hoặc đã qua sử dụng .</span>
        </p>
        <p>
            <span>&nbsp;– Kể từ ngày giao hàng , quá thời hạn 20 ngày sản phẩm đã mua sẽ không được áp dụng chính sách trả hàng của Mygear .</span>
        </p>
        <p>
            <em>( Chính sách trên không áp dụng đối với các mã màn hình, vui lòng liên hệ shop để biết thêm chi tiết. )</em>
        </p>
        <p>
            <span>
                <strong>LƯU Ý – YÊU CẦU VỀ TRẢ HÀNG: Sản phẩm phải còn nguyên vẹn, &nbsp;không bị lỗi, không bị trầy xước . Tem/nhãn trên máy còn nguyên vẹn . Bắt buộc phải đầy đủ các giấy tờ – phụ kiện kèm theo trong thùng máy và chứng từ mà Mygear đã xuất như lúc khách hàng nhận hàng ( bao gồm cả quà tặng ). Mygear</strong>&nbsp;<strong>sẽ hoàn tiền trễ nhất trong vòng 48h dưới hình thức tiền mặt hoặc chuyển khoản theo yêu cầu của khách hàng. Mygear sẽ không áp dụng chính sách trả hàng nếu như sản phẩm không đáp ứng đầy đủ các yêu cầu trên . Riêng với mặt hàng VGA bảo hành theo chính sách của nhà phân phối&nbsp;</strong>
            </span>
        </p><p><span><strong>II/ Chính sách đổi mới sản phẩm bị lỗi.</strong></span></p><p><span>&nbsp;– Khách hàng vui lòng kiểm tra kĩ hàng hóa trước khi thanh toán hoặc ngay khi nhận hàng,&nbsp;<strong>Mygear</strong>&nbsp;sẽ không chịu trách nhiệm đối với hàng hóa bị lỗi không phải do nhà sản xuất gây ra sau khi khách Hàng đã nhận hàng. Trong trường hợp sản phẩm của khách hàng bị hư hại trong quá trình vận chuyển, quý khách vui lòng từ chối nhận và báo ngay cho&nbsp;<strong>Mygear</strong>&nbsp;để được đổi sản phẩm mới.</span></p><p><span>&nbsp;– Đổi mới hàng hóa trong vòng 7 – 30 ngày kể từ ngày giao hàng . Hàng hóa bị lỗi phải được xác định là lỗi kỹ thuật do nhà sản xuất (cần có xác nhận của Hãng đối với một số trường hợp phức tạp); sản phẩm yêu cầu không bị trầy xước, nứt mẻ (còn nguyên mới giống như lúc Khách hàng nhận hàng); phụ kiện kèm theo phải còn mới, hộp/thùng còn nguyên vẹn, đầy đủ chứng từ như khi&nbsp;<strong>Mygear&nbsp;</strong>giao hàng, riêng lỗi màn hình điểm chết phải từ 5 điểm chết trở lên mới được đổi mới.</span></p><p><span><strong>III/ Trường hợp từ chối đổi trả sản phẩm:</strong></span></p><p><span>&nbsp;– Sản phẩm bị lỗi được xác định là lỗi do người dùng (phải nhờ bộ phận kỹ thuật hãng kiểm tra với 1 số trường hợp đặc thù).</span></p><p><span>&nbsp;– Sản phẩm không còn mới 100%: trầy xước, móp méo, không còn nguyên vẹn như lúc đầu, không đầy đủ phụ kiện, thùng/hộp sản phẩm.</span></p><p><span>&nbsp;– Các logo của laptop, tem của hãng hay của cửa hàng đều phải đảm bảo nguyên vẹn, không bị bung hay tháo rời dưới mọi hình thức trong thời gian đổi trả máy. Khách hàng tuyệt đối không được dán màn hình trong thời gian đổi trả máy để đảm bảo màn hình không bị xước, nếu khách hàng tự ý dán thì nhờ khách hàng tự lấy ra.</span></p><p><span>– Những lí do cảm tính như: “Tôi không thích máy này nữa”, “Máy này quá yếu”, “Máy này màn hình không như tôi mong muốn”…</span></p><p><span><strong>IV / Thời gian tiếp nhận đổi trả sản phẩm</strong>:</span></p><p><span>&nbsp;– Từ T2 -&gt; T6 : (&nbsp; Từ 10h đến 19h )</span></p><p><span>&nbsp;– Thứ 7 từ 10h đến 12h30, chiều thứ 7 không nhận bảo hành.</span></p><p><span>&nbsp;– Chủ nhật không nhận bảo hành.</span></p><p><span>&nbsp;– Mong quý khách thông cảm.</span></p><p style="text-align: center;"><span style="font-size: 20pt; color: rgb(255, 0, 0);">Mygear - CHÍNH SÁCH BẢO HÀNH</span></p><p><span style="font-size: 11pt;"><strong>I. QUI TRÌNH &amp; QUI ĐỊNH BẢO HÀNH SẢN PHẨM ĐƯỢC ÁP DỤNG TẠI Mygear:</strong></span></p><p><span style="font-size: 11pt;"><strong>&nbsp;</strong></span></p><ul><li><span style="font-size: 11pt;">Các sản phẩm Mygear bán ra được bảo hành tại địa chỉ:</span><ul><li><span style="font-size: 11pt;"><strong>203 NGUYỄN THƯỢNG HIỀN, P6&nbsp;QUẬN BÌNH THẠNH&nbsp;TPHCM</strong></span></li></ul></li><li><span style="font-size: 11pt;">Qui trình tiếp nhận kiểm tra sản phẩm tại chỗ, có sự giám sát của khách hàng:</span><ul><li><span style="font-size: 11pt;">Nếu phát hiện lỗi: xử lý bảo hành</span></li><li><span style="font-size: 11pt;">Nếu sản phẩm bị hư hỏng do người sử dụng: xử lý hỗ trợ</span></li><li><span style="font-size: 11pt;">Nếu không phát hiện lỗi ngay: Mygear sẽ giữ lại sản phẩm để gửi về hãng tiếp tục kiểm tra, thời gian kiểm tra tối đa 3 ngày làm việc.</span></li></ul></li></ul><ul><li><span style="font-size: 11pt;">Các sản phẩm&nbsp;<strong>Gaming Gear &amp; linh kiện máy tính</strong>&nbsp;trong 30 ngày đầu tiên nếu phát sinh lỗi kĩ thuật của sản phẩm sẽ được đổi mới ngay lập tức với điều kiện sản phẩm bị lỗi phải còn giữ nguyên tem bảo hành , hộp hoặc seal sản phẩm.</span></li><li><span style="font-size: 11pt;">Các sản phẩm có tương tác vật lý làm thay đổi hình dáng bên ngoài và cấu trúc bên trong của sản phẩm sẽ không được đổi mới. Các sản phẩm này sẽ được bảo hành theo chính sách của hãng.</span></li></ul><p><span style="font-size: 11pt;">&nbsp;</span></p><p><span style="font-size: 11pt;"><strong>II. THỜI GIAN BẢO HÀNH:</strong></span></p><ul><li><span style="font-size: 11pt;">Thời gian tiếp nhận: 9h30 – 20h (Thứ 2 – Chủ Nhật)</span></li><li><span style="font-size: 11pt;">Quý khách vui lòng mang sản phẩm đến Mygear để được bảo hành nhanh nhất.</span></li><li><span style="font-size: 11pt;">Quý khách vui lòng xuất trình<strong>&nbsp;phiếu tiếp nhận</strong>&nbsp;lúc nhận sản phẩm trả bảo hành.</span></li></ul><p><span style="font-size: 11pt;"><em>* Trường hợp lỗi không phát hiện ngay tại thời điểm kiểm tra, thời gian tiếp nhận và dự kiến xử lý bảo hành như sau:</em></span></p><ul><li><span style="font-size: 11pt;"><em>Sản phẩm Gaming Gear</em>: 3 – 5 ngày không tính thứ 7 chủ nhật – các ngày lễ tết.</span></li><li><span style="font-size: 11pt;"><em>Sản phẩm Màn hình</em>: 7 – 14 ngày không tính thứ 7 chủ nhật – các ngày lễ tết.</span></li><li><span style="font-size: 11pt;"><em>Sản phẩm Linh kiện máy tính</em>: 7 – 14 ngày không tính thứ 7 chủ nhật – các ngày lễ tết.</span></li></ul><p><span style="font-size: 11pt;">&nbsp;</span></p><p><span style="font-size: 11pt;"><strong>III. BẢO HÀNH SẢN PHẨM LINH KIỆN MÁY TÍNH:</strong></span></p><p><span style="font-size: 11pt;"><strong>&nbsp;</strong></span></p><ul><li><span style="font-size: 11pt;">Linh kiện máy tính (không bao gồm màn hình và linh kiện Gaming Gear) đủ điều kiện bảo hành với yêu cầu như sau:</span><ul><li><span style="font-size: 11pt;">Tem sản phẩm vẫn còn nằm trong thời gian bảo hành của Mygear</span></li><li><span style="font-size: 11pt;">Tem không được rách hoặc bị dán đè lên tem bảo hành của Mygear hoặc tem của hãng/ nhà phân phối.</span></li><li><span style="font-size: 11pt;">Số serial trên các sản phẩm vẫn còn nguyên không được bong tróc hoặc mất số serial.</span></li></ul></li><li><span style="font-size: 11pt;">Bảo hành sản phẩm linh kiện máy tính:</span><ul><li><span style="font-size: 11pt;"><strong>CPU</strong>: Intel, AMD được bảo hành đổi mới 100% trong vòng 36 tháng.</span></li><li><span style="font-size: 11pt;"><strong>Mainboard</strong>: bảo hành 1 đổi 1 tương đương&nbsp;trong suốt thời gian bảo hành.</span></li><li><span style="font-size: 11pt;"><strong>VGA</strong>: bảo hành theo chính sách nhà phân phối&nbsp;trong suốt thời gian bảo hành.</span></li><li><span style="font-size: 11pt;"><strong>RAM:</strong>bảo hành 1 đổi 1&nbsp;trong suốt thời gian bảo hành.</span></li><li><span style="font-size: 11pt;"><strong>SSD</strong>,&nbsp;<strong>HDD</strong>: bảo hành 1 đổi 1 trong suốt thời gian bảo hành.</span></li><li><span style="font-size: 11pt;"><strong>PSU:&nbsp;</strong>bảo hành 1 đổi 1 tương đương&nbsp;trong suốt thời gian bảo hành.</span></li></ul></li></ul><p><span style="font-size: 11pt;"><em>* Trường hợp lỗi không phát hiện ngay tại thời điểm kiểm tra, sản phẩm sẽ được nhận lại và gửi lên hãng để hỗ trợ kiểm tra thêm. Trong thời gian chờ kiểm tra, Mygear sẽ ký gửi sản phẩm khác để khách hàng có thể dùng tạm.</em></span></p><p><span style="font-size: 11pt;"><em>* Trường hợp sản phẩm nằm ngoài chính sách bảo hành, Mygear sẽ đề xuất sửa chữa có tính phí nếu phát sinh chi phí sửa chữa.</em></span></p><p><span style="font-size: 11pt;"><em>* Trường hợp nếu sản phẩm lỗi do người sử dụng không có khả năng sửa chữa được, Mygear sẽ hoàn trả lại sản phẩm lỗi cho khách hàng.</em></span></p><p style="text-align: center;"><span style="font-size: 11pt; color: rgb(255, 0, 0);"><strong>LƯU Ý:</strong></span></p><p style="text-align: center;"><span style="font-size: 11pt; color: rgb(255, 0, 0);"><strong>CÁC TRƯỜNG HỢP KHÔNG THUỘC DIỆN BẢO HÀNH</strong></span></p><p><span style="font-size: 11pt;"><strong>&nbsp;</strong></span></p><ul><li><span style="font-size: 11pt;"><em>Sản phẩm tiếp nhận không có tem bảo hành của Mygear hoặc tem hết hạn bảo hành.</em></span></li><li><span style="font-size: 11pt;"><em>Tem bảo hành trên sản phẩm bị rách, mờ hoặc có dấu hiệu sửa đổi, làm giả.</em></span></li><li><span style="font-size: 11pt;"><em>Không bảo hành sản phẩm Mainboard bị cong hoặc gãy chân, hoặc vi phạm các qui định khác của nhà sản xuất.</em></span></li><li><span style="font-size: 11pt;"><em>Sản phẩm biến dạng, trầy xước, bể, mẻ, cong, xì tụ, cháy nổ chip, bị chất lỏng đổ vào.</em></span></li><li><span style="font-size: 11pt;"><em>Sản phẩm có dấu hiệu cháy nổ, rỉ sét, nứt chíp, dấu vết của côn trùng, chuột, các loài bọ gây hư hại sản phẩm.</em></span></li><li><span style="font-size: 11pt;"><em>Sản phẩm đặt trong môi trường Ôxy hóa.</em></span></li><li><span style="font-size: 11pt;"><em>Sản phẩm người dùng tự ý sửa chữa trước đó.</em></span></li></ul><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="first-item">
                    <div class="logo">
                        <img src="~/image/logo.png" style="width: 75%; padding-top: 25px; ">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <p style="font-size: 20px; padding-top: 0px ; color: white">
                    <br>
                    Công ty TNHH Thương mại Mygear
                    Email: dungpubg113@gmail.com
                    SDT: 0394468285
                    <br>
                </p>

                <p style="font-size: 20px; padding-top: 0px; color: white">
                    <b>SHOWROOM HCM</b> (Làm việc từ 8h00 - 20h00) <br>
                    - Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM<br>
                    <br>
                </p>
            </div>
            <div class="col-lg-4">
                <h5 style="color: white; padding-bottom: 0px; padding-top:25px"></h5>
                <ul>
                    <li class="scroll-to-section"><a href="/Mygear/BaoHanh" style="font-size: 20px">Chính sách bảo hành</a></li>
                    <li class="scroll-to-section"><a href="/Mygear/ThanhToan" style="font-size: 20px">Hướng dẫn thanh toán</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>