

@using QLMygear.Models;
@model List<SANPHAM>

@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container" id="layout-page-main" style="margin-top: 120px">
    <div class="content-page">
        <p style="text-align: center;">
            <span style="font-size: 20pt; color: #ff0000;">
                Mygear - CHÍNH SÁCH ĐỔI TRẢ
            </span>
        </p>
        <div class="content-page">
            <p><span><strong><u>- Phương thức thanh toán 1</u>&nbsp;: Thanh toán trực tiếp tại Shop</strong></span><br><br><span>+ Quý khách ở TP.HCM đến xem, nghe tư vấn,&nbsp; mua hàng và trả tiền trực tiếp tại Mygear .</span><br><br><span><strong>-&nbsp;<u>Phương thức thanh toán 2</u>&nbsp;: Thanh toán qua ngân hàng.</strong></span></p><p><span>+ Dành cho khách đặt mua online - Các tỉnh, ngoại thành TP.HCM .&nbsp;</span><br><span>+ Quý khách đến bất kì ngân hàng nào ở Việt Nam để chuyển tiền theo thông tin bên dưới (Quý khách nên chọn các chi nhánh của Ngân hàng cùng hệ thống để không mất phí chuyển khoản để đơn hàng được giải quyết nhanh nhất có thể trễ).</span></p><ul><li><span>Ngân hàng : TMCP Công Thương Việt Nam - CN Chợ Lớn </span></li></ul><p><span>+ Tên chủ tài khoản : CÔNG TY TNHH CÔNG NGHỆ Mygear</span></p><p><span>+ Số TK: 112002777102</span></p><ul><li><span><strong>LƯU Ý:</strong></span><br><span>+ Khi chuyển tiền , quý khách vui lòng ghi rõ tên và lí do chuyển tiền . VD : Nguyễn A chuyển tiền mua máy tính.</span><br><br><span>+ Khi chuyển tiền xong, quý khách vui lòng thông báo cho chúng tôi tên hoặc số tài khoản đã chuyển và địa chỉ nhận hàng để chúng tôi tiến hành kiểm tra tiền và chuyển hàng cho quý khách. Hàng hóa chuyển phát theo phương thức chuyển phát nhanh hoặc chậm theo yêu cầu. Nếu ở những tỉnh thành lớn, quý khách có thể thanh toán phí vận chuyển trực tiếp với nhân viên chuyển phát. Còn ở những tỉnh thành khác quý khách vui lòng thanh toán luôn phần phí vận chuyển khi chuyển tiền mua hàng.</span></li></ul><p><span><strong>CHÍNH SÁCH VẬN CHUYỂN - GIAO NHẬN:</strong></span></p><p><span><strong>1- Phạm vi áp dụng:</strong></span></p><p><span>Cty giao hàng đến tất cả các khách hàng trong nước khi khách có nhu cầu mua hàng.</span></p><p><span><strong>2. Hình thức áp dụng:</strong></span></p><p><span><strong>a. Giao hàng miễn phí.</strong></span></p><ul><li><span>Cty áp dụng chính sách giao hàng miễn phí nội thành cho tất cả các khách hàng mua hàng mua Gaming Gear trị giá từ 1tr đồng, ghế gaming, Gaming PC...</span></li></ul><ul><li><span>Áp dụng đối với các đơn hàng có giá trị cao, các sản phẩm áp dụng chính sách giao hàng tận nơi miễn phí.</span></li></ul><p><span></span><br></p><ul><li><span>Sự thỏa thuận giữa công ty và khách hàng.</span><span></span></li></ul><p><span></span><br></p><p><span><strong>b. Giao hàng có tính phí.</strong></span></p><ul><li><span>Áp dụng cho các đơn hàng không thỏa chính sách giao hàng miễn phí.</span></li></ul><p><span></span><br></p><ul><li><span>Đối với các đơn hàng nội thành TP Hồ Chí Minh: cty tính phí giao hàng là 5000vnđ/1km và trừ đi 5km đầu nếu đơn hàng trị giá thanh toán trên 500.00vnđ</span><span></span></li></ul><p><span></span><br></p><ul><li><span>Khách hàng ngoại thành TP.HCM: cty tính phí 5000đ/1km.</span></li></ul><p><span><strong>c. Giao hàng liền trong vòng 30p ( nội thành HCM ).</strong></span></p><ul><li><span>Khách có nhu cầu cần gấp sản phẩm thì Mygear vẫn có gói giao hàng trong vòng 30p từ lúc chốt đơn hàng</span></li></ul><p><span><strong>3. Thời gian giao nhận hàng hóa.</strong></span></p><p><span>Sau khi đã chốt đơn hàng theo thỏa thuận, thường thì đơn hàng sẽ được gởi đi trong 12h làm việc.</span></p><p><span><strong>4. Đóng gói hàng hóa.</strong></span></p><p><span>Hàng hóa phải được đóng gói cẩn thận, tránh hỏng hóc khi giao nhận.</span></p><p><span>Mọi hỏng hóc nếu có phải được giải quyết trên cơ sở thương lượng, thỏa thuận giữa các bên liên quan nhằm đảm bào quyền lợi cho khách hàng</span></p>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="first-item">
                    <div class="logo">
                        <img src="~/image/logo.png" style="width: 75%; padding-top: 25px; ">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <p style="font-size: 20px; padding-top: 0px ; color: white">
                    <br>
                    Công ty TNHH Thương mại Mygear
                    Email: dungpubg113@gmail.com
                    SDT: 0394468285
                    <br>
                </p>

                <p style="font-size: 20px; padding-top: 0px; color: white">
                    <b>SHOWROOM HCM</b> (Làm việc từ 8h00 - 20h00) <br>
                    - Địa chỉ: 475A Điện Biên Phủ, P.25, Q.Bình Thạnh, TP.HCM<br>
                    <br>
                </p>
            </div>
            <div class="col-lg-4">
                <h5 style="color: white; padding-bottom: 0px; padding-top:25px"></h5>
                <ul>
                    <li class="scroll-to-section"><a href="/Mygear/BaoHanh" style="font-size: 20px">Chính sách bảo hành</a></li>
                    <li class="scroll-to-section"><a href="/Mygear/ThanhToan" style="font-size: 20px">Hướng dẫn thanh toán</a></li>
                </ul>
            </div>


        </div>
    </div>
</footer>
